<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>index page</h1>
    <h3>name:{{name}}</h3>
    <h3>age:{{age}}</h3>
    <h3>location:{{location}}</h3>
    <h3>contact:{{contact}}</h3> -->

    <h1>person</h1>
    <h3>id:{{person.id}}</h3>
    <h3>name:{{person.name}}</h3>
    <h3>age:{{person.age}}</h3>
    <h3>location:{{person.location}}</h3>
    <h3>contact:{{person.contact}}</h3>
   
    
</body>
</html>